{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "ignorePatterns": ["jest.config.js"],
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "airbnb-typescript/base"
    ],
    "rules": {
      "no-console": 2,
      "lines-between-class-members": 0,
      "import/prefer-default-export": 0,
      "max-classes-per-file": 0,
      "@typescript-eslint/lines-between-class-members": 0,
      "@typescript-eslint/no-explicit-any": 0
    }
}